matplotlib>=3.5.0			  # grafiquitas veah!!
numpy>=1.22.0			  # para shit numerica
pandas>=1.3.4			  # para tablitas cool
scipy>=1.7.3			  # para modulos de estadistica
sympy>=1.7.1			  # para calculo simbolico
